/* :after e :before */
* {
    margin: 0;
    padding: 0;
}

.container {
  width: 300px;
  border: 1px solid #111;
  margin: 15px;
  padding: 5px;
  text-align: center;
}

.container img {
  height: auto;
  width: 100%;
  object-fit: cover;
}